{% extends 'base.html' %}

{% load static %}


{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Billing Address</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{order.full_name}}</p>
                        <p class="card-text mb-0">{{order.full_address}}</p>
                        <p class="card-text">{{order.city}}, {{order.state}}</p>
                        <p class="card-text mb-0">{{order.email}}</p>
                        <p class="card-text">{{order.phone}}</p>
                        <p class="card-text">{{order.country}}</p>
                        {% if order.order_note %}
                        <b>Order Note: {{order.order_note}}</b>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>Payment method</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">PayPal</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>Order:</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <!-- <th scope="col" class="text-right" width="200"> </th> -->
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ item.product.get_absolute_url }}"
                                                    class="title text-dark">{{ item.product.product_name}}</a>
                                                <p class="text-muted small">
                                                    {% if item.variations.all %}
                                                    {% for item in item.variations.all  %}
                                                    <b>{{ item.variation_category | capfirst}}</b> :
                                                    {{item.variation_value | capfirst}} <br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">${{item.total_price}}</var>
                                            <small class="text-muted"> ${{item.product.price}} each</small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    <!-- <td class="text-right">
                                        <a href="{% url 'delete_product' item.product.id item.id %}"
                                            onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">
                                            Remove</a>
                                    </td> -->
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                    </div>
                </div>

            </aside> <!-- col.// -->
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"> ${{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand total:</dt>
                            <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>

                        <!-- <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Make Payment </a> -->
                        <div id="paypal-button-container">
                            <!-- PayPal button -->
                        </div>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked

        style: {
            layout: 'vertical',
            color: 'blue',
            shape: 'rect',
            label: 'paypal'
        },

        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{grand_total}}' // Can also reference a variable or function
                    }
                }]
            });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            return actions.order.capture().then(function (orderData) {
                // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                sendData()
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert(
                    `Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`
                );
                // custom JS to fetch data to backend
                function sendData() {
                    fetch("{% url 'payment' %}", {
                            method : "POST",
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: '{{order.order_number}}',
                                transID: orderData.id,
                                payment_method: 'PayPal',
                                status: orderData.status,
                            }),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success: ', data);
                            console.log('Transaction Complited.');
                            window.location.href = "{% url 'order_complite' %}" + '?order_number='+data.order_number+'&payment_id='+data.transID
                        });
                }
                // When ready to go live, remove the alert and show a success message within this page. For example:
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }
    }).render('#paypal-button-container');
</script>

{% endblock content %}